<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>DNS-Server</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <style type="text/css">
        .red {
            color: red;
        }
        .green {
            color: green;
        }
        th {
            vertical-align: inherit !important;
            text-align: right;
        }
    </style>
</head>
<body ng-app="myApp">
<div class="container" ng-controller="bikeController as vm">
    <h1>DNS records</h1>
    <form novalidate class="simple-form">
        <label>URL: <input type="text" ng-model="vm.url" /><input type="submit" ng-click="vm.ask()" value="Search" /><input type="submit" ng-click="vm.whois()" value="Whois" /></label><br />
        <label>IP: <input type="text" ng-model="vm.ip" /></label><br />
        <input type="submit" ng-click="vm.add()" value="Add" />

    </form>
    <div class="row">
        <div class="col-md-12" style="text-align: right">
            <table class= "table table-striped">
                <tr>
                    <td><h4>URL</h4></td>
                    <td><h4>IP</h4></td>
                    <td><h4>DELETE</h4></td>
                </tr>
                <tr ng-repeat="dns in vm.dnss | orderBy : 'url'">
                    <td>{{dns.url}}</td>
                    <td>{{dns.ip}}</td>
                    <td><button ng-click="vm.delete(dns.ip)">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script>
    angular.module('myApp', [])
        .controller('bikeController', filmController);
    function filmController($http, $timeout) {
        // 0. initialisaties, variabelen
        var vm = this;
        vm.url = "";
        vm.ip = "";
        vm.dnss = [];
        vm.show = false;
        var error = false;
        vm.api = "http://84.193.168.7:1515/";
        //vm.api = "http://localhost:3000/";
        vm.getData = function(){
            $http({
                method: 'get',
                url   : vm.api+"api"
            }).then(function (dns) {
                vm.dnss = dns.data;
            }).catch(function (err) {
                //alert('Error: er is een fout opgetreden ' + err);
                error = true;
            });

            if(error){
                console.log('Error: er is een fout opgetreden ');
            }
        }

        vm.intervalFunction = function(){
            $timeout(function() {
                vm.getData();
                vm.intervalFunction();
            }, 5000)
        };
        vm.add = function(){
            var request = "";
            console.log(vm.ip);
            if(vm.ip == ""){
                request = "r=add&url="+vm.url;
            }else{
                request = "r=add&url="+vm.url+"&ip="+String(vm.ip);
            }
            $http({
                method: 'get',
                url   : vm.api+"api?"+request
            }).then(function (dns) {
                //alert("Added to database");
                vm.getData();
            }).catch(function (err) {
                error = true;
            });
        };
        vm.delete = function(url){
            var request = "";
            request = "r=delete&url="+url;
            $http({
                method: 'get',
                url   : vm.api+"api?"+request
            }).then(function (dns) {
                //alert("Deleted from database");
                vm.getData();
            }).catch(function (err) {
                error = true;
            });
        };
        vm.ask = function(){
            request = "r=ask&url="+vm.url;
            $http({
                method: 'get',
                url   : vm.api+"api?"+request
            }).then(function (dns) {
                vm.ip = dns.data.ip;
                vm.getData();
            }).catch(function (err) {
                error = true;
            });
        };
        vm.whois = function(){
            request = "r=whois&url="+vm.url;
            $http({
                method: 'get',
                url   : vm.api+"api?"+request
            }).then(function (dns) {
                vm.ip = dns.data.ip;
                vm.getData();
            }).catch(function (err) {
                error = true;
            });
        };
        vm.getData();
        vm.intervalFunction();
    }
</script>
</body>
</html>